/* index.ejs */

#indexRow1, #indexRow2, #indexRow3 {
  height: 50%;
  background-color:#eee;
  margin-bottom:2%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* row 1 */
  #indexIcon {
    color:#81bd87;
    padding: 5% 50% 5% 44%;
    width:100%;
    background-color:#eee;

  }
  #indexColPar {
    padding: 3% 2% 3% 2%;
    font-family:Montserrat;
    font-weight:500;
    /* color:green; */
    background-color:#eee;
  }
  /* row 2 */
  #indexIcon2 {
    color:#4eabce;
    padding: 5% 50% 5% 44%;
    width:100%;
    background-color:#eee;

  }
  #indexColPar2 {
    padding: 3% 2% 3% 2%;
    font-family:Montserrat;
    font-weight:500;
    /* color:green; */
    background-color:#eee;
  }
  /* row 3 */
  #indexIcon3 {
    color:#e5816b;
    padding: 5% 50% 5% 44%;
    width:100%;
    background-color:#eee;

  }
  #indexColPar3 {
    padding: 3% 2% 3% 2%;
    font-family:Montserrat;
    font-weight:500;
    /* color:green; */
    background-color:#eee;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* row 1 */
  #indexIcon {
    color:#81bd87;
    padding: 40% 0 30% 50%;
    background-color:#eee;
  }

  #indexColPar {
    padding: 6% 5% 6% 0;
    font-family:Montserrat;
    font-weight:500;
    color:black;
    background-color:#eee;
  }
  /* row 2 */
  #indexIcon2 {
    color:#4eabce;
    padding: 37% 0 20% 40%;
    background-color:#eee;
  }

  #indexColPar2 {
    padding: 6% 5% 4% 0%;
    font-family:Montserrat;
    font-weight:500;
    color:black;
    background-color:#eee;
  }
  /* row 3 */
  #indexIcon3 {
    color:#e5816b;
    padding: 30% 0 20% 40%;
    background-color:#eee;
  }

  #indexColPar3 {
    padding: 6% 5% 4% 0%;
    font-family:Montserrat;
    font-weight:500;
    color:black;
    background-color:#eee;
  }

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* row 1 */
  #indexIcon {
    color:#81bd87;
    padding: 30% 0 30% 50%;
    background-color:#eee;
  }
  #indexColPar {
    padding: 6% 5% 6% 0;
    font-family:Montserrat;
    font-weight:500;
    /* color:red; */
    background-color:#eee;
  }
  /* row 2 */
  #indexIcon2 {
    color:#4eabce;
    padding: 25% 5% 25% 40%;
    background-color:#eee;
  }
  #indexColPar2 {
    padding: 4% 5% 4% 0;
    font-family:Montserrat;
    font-weight:500;
    /* color:red; */
    background-color:#eee;
  }
  /* row 3 */
  #indexIcon3 {
    color:#e5816b;
    padding: 30% 1% 30% 50%;
    background-color:#eee;
  }
  #indexColPar3 {
    padding: 6% 5% 5% 0;
    font-family:Montserrat;
    font-weight:500;
    /* color:red; */
    background-color:#eee;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

#indexRow0 {
  background-image: url("/images/emotionGraphic1.png");
  height:400px;
}




/* query.ejs */

.form-group {
  width:100%;
}
