.col-lg-2 #indexPencilIcon {
  color:#81bd87;
  padding: 30% 0 30% 50%;
}

.col-lg-10 #indexColPar {
  padding: 6% 5% 5% 0;
  font-family:Montserrat;
  font-weight:400;
}

#indexRow1 {
  background-color:#eee
}
