<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- needed for bootstrap css cdn -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- google fonts support -->
<link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">
</head>
<body style="background-color:#726bb0">
  <div class="container-fluid pb-2" style="background-color:#726bb0; padding:0">
    <div class="topHalf" style="background-color:#726bb0">
      <!-- start of navbar -->
      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#595297; width:100%; padding-left:2%">
          <a class="navbar-brand" href="#"><img src= "/images/logo_hor.png" class="img-fluid" alt="Responsive image10"> </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <!-- <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
             </li> -->
             <li class="nav-item">
               <a class="nav-link" href="about.html"><span class="fas fa-code"></span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="docs.html">Docs</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/query">Query</a>
             </li>
           </ul>
           <!-- more stuff here? -->

         </div>
        </nav>
      </div>
