<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- needed for bootstrap css cdn -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="/static/style.css" rel="stylesheet" type="text/css"/>
<!-- google fonts support -->
<link href="https://fonts.googleapis.com/css?family=Changa:400,500|Montserrat:300,500,600,700,800" rel="stylesheet">
</head>
<body>
  <div class="container-fluid pb-2 pr-auto pl-auto" style="background-color:#fff; margin-bottom:0; padding-bottom:0">

      <!-- start of navbar -->
      <div class="row">
        <nav class="navbar navbar-expand navbar-dark shadow" style="background-color:#595297; width:100%; padding-left:3%; padding-top:1%">
          <a class="navbar-brand" href="/"> <span style="font-family:changa; font-weight:500">Social Pulse</span></a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item">
               <a class="nav-link" href="/query"><span style="font-family:changa; font-weight:400; color:#eee">New Query</span></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/#indexRow1"><span style="font-family:changa; font-weight:400; color:#eee">About</span></a>
             </li>
           </ul>
           <!-- more stuff here? -->

         </div>
        </nav>
      </div>
