/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #indexPencilIcon {
    color:#81bd87;
    /* padding: 30% 0 30% 50%; */
    background-color:#eee;
  }

  #indexColPar {
    /* padding: 6% 5% 6% 0; */
    font-family:Montserrat;
    font-weight:500;
    color:red;
    background-color:#eee;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


8169ae
