<% include partials/header %>
<!-- start of jumbotron -->
<div class="jumbotron jumbotron-fluid rounded" style="padding-top:0px; margin-bottom: 2%; padding-bottom: 2%; background-image: linear-gradient(#7069ae, #595297)">
  <img src="/images/iconLogo3.png" alt="logoicon" style="display:block; margin-left:auto; margin-right:auto; margin-top:-45px; position:relative">
  <img src="/images/nodeL.png" alt="leftNode" style="float:left; margin-top:-93px; margin-left:15%">
  <img src="/images/nodeR.png" alt="rightNode" style="float:right; margin-top:-100px; margin-right:15%">
  <h2 id="jumbotronTagLine" style="text-align:center; margin-top:5%; color:#eee9e9; font-family:changa">measure your brand's emotional temperature</h2>
  <div id="emotionIcons" style="text-align: center; margin-bottom: 1%; margin-top: 3%; padding:0">
    <i class="fas fa-laugh-squint fa-2x"></i>
    <i class="fas fa-smile fa-2x"></i>
    <i class="fas fa-surprise fa-2x"></i>
    <i class="fas fa-meh fa-2x"></i>
    <i class="fas fa-meh-rolling-eyes fa-2x"></i>
    <i class="fas fa-sad-cry fa-2x"></i>
    <i class="fas fa-angry fa-2x"></i>
  </div>
  <h5 id="jumbotronTagLine2" style="text-align:center; margin-top:5%; color:#d2d0e2; font-family:changa; margin-top:3%">your qualitative lifeline in an overwhelmingly quantitative world</h5>
  <div id="twitterIcon" style="text-align: center; margin-bottom: 1%; margin-top: 3%; padding:0">
    <i class="fab fa-twitter fa-3x" style="color:#eee"></i>
  </div>
 </div>

<div class="container-fluid" id="indexVideoDiv" style="text-align:center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/IQ8fPwsvM8g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




<div class="rowContainer">
  <div class="row" id="indexRow1">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <i class="fas fa-poll fa-4x" id="indexIcon"></i>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <p id="indexColPar">
      Social Pulse is a new tool for brands that provides <span style="color:#81bd87">deep insight</span>
      and <span style="color:#81bd87">unique qualitative analysis</span> to help you
      craft effective strategies and ensure the <span style="color:#81bd87">ultimate R.O.I.</span>
      for your social marketing spend.
      </p>
    </div>
  </div>


  <div class="row" id="indexRow2">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <i class="fas fa-comments-dollar fa-4x" id="indexIcon2"></i>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <p id="indexColPar2">
      Social media has become the defacto medium by which <span style="color:#4eabce">peer-peer communication</span>
      occurs and subsequently the platform by which <span style="color:#4eabce">consumer-brand relationships</span> are
      created, maintained, and studied.
      </p>
    </div>
  </div>

  <div class="row" id="indexRow3">
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <i class="fas fa-database fa-4x" id="indexIcon3"></i>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <p id="indexColPar3">
      Our proprietary algorithms analyze the <span style="color:#e5816b">emotional temperature</span>
      of your brand and products over many <span style="color:#e5816b">dimensions</span> across the Twitter-shere.
      </p>
    </div>
  </div>

  <div class="fourbyfour">
    <div class="row" id="innerRow1">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="innerCol1">

      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="innerCol2">

      </div>
    </div>

    <div class="row" id="innerRow2">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="innerCol3">

      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" id="innerCol4">

      </div>
    </div>

  </div>





  <!-- <div class="row" id="indexRow4">
    <div class="col-sm" style="background-color:#eee">
      <h4 style="float:left; padding-top: 3%; font-family:Montserrat; font-weight:700">Feature 1</h4>
      <img src="/images/ipads.png" style="float:right; padding-bottom:3%; padding-top:3%">

    </div>
    <div class="col-sm" style="background-color:#fff">
      <h4>Feature 2</h4>
    </div>
  </div> -->
</div>








</div>
<!-- end of container div -->
<% include partials/footer %>
