<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h5>Tweets:</h5>
  <ul>
    <% for(var i=0; i<tweets.length; i++){ %>
      <li> <%= tweets[i] %> Score: <%= scores[i] %> </li>
    <% } %>
  </ul>
</body>
</html>
